<h1>lista de restaurants</h1>
  <% @restaurants.each do |restaurant| %>
  <h2></li><%= link_to restaurant.name, restaurant_path(restaurant) %></h2></li>
  <h3><%= restaurant.address %></h3>
  <% end %>

<%= link_to "Add a new restaurant", new_restaurant_path %>
<%# <%= link_to "Add a new review", new_restaurant_review_path %> %>